---
export interface Props {
  id?: string;
  href: string;
  class?: string;
  ariaLabel?: string;
  title?: string;
  target?: string;
  rel?: string;
  analyticsEvent?: string;
  analyticsLabel?: string;
  analyticsTarget?: string;
  disabled?: boolean;
}

const {
  id,
  href,
  class: className = "",
  ariaLabel,
  title,
  target,
  rel,
  analyticsEvent,
  analyticsLabel,
  analyticsTarget,
  disabled = false,
} = Astro.props;
---

{
  disabled ? (
    <span
      id={id}
      class:list={["group inline-block", className]}
      title={title}
      aria-disabled={disabled}
    >
      <slot />
    </span>
  ) : (
    <a
      id={id}
      {href}
      class:list={["group inline-block hover:text-accent", className]}
      aria-label={ariaLabel}
      title={title}
      target={target}
      rel={rel}
      data-analytics-event={analyticsEvent}
      data-analytics-label={analyticsLabel}
      data-analytics-target={analyticsTarget}
    >
      <slot />
    </a>
  )
}
